*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
.container{
	width:85%;
	margin: 0 auto;
}
.flex-box{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.menu-top{
	width: 100%;
	background: url(../images/header.png);
	background-position: center center;
	background-size: contain;
	padding: 2rem 0;
}
.logo,
.menu-header,
.media-social{
	display: inline-block;
	vertical-align: middle;
	transition: .5s ease-in;
}
.media-social a{
	margin-left: 10px;
}
.menu-nav{
	width: 100%;
}
.menu-header{
	width: 50%;
}
.menu-item a{
	color: #ffff;
	display: block;
	font-size: 130%;
}
.content{
	background: url(../images/background.png);
	background-size: 55%;
	background-repeat: repeat;
}
.image{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 50%;
}
.text-01{
	top: 0rem;
	z-index: 1;
}
.text-02{
	top: -9rem;
	z-index: 1;
}
.image-book{
	top: -6rem;
}
.webdoor{
	position: relative;
	padding-top: 3rem;
	width: 100%;
}
.image-fire{
	position: absolute;
	top: 15%;
	width: 10%;
}
img[src="images/text_03.png"]{
	margin-bottom: 1rem;
}
.fire-left{
	left: 0;
}
.fire-right{
	right: 0;
}
.int{
	width: 5%;
	position: relative;
	left: -2%;
}
.video{
	position: relative;
}
.player-video{
	width: 45%;
	z-index: 1;
	position: relative;
	left: 25%;
	cursor: pointer;
}
.video-info{
	position: absolute;
	right: 0%;
	top: 25%;
	width: 30%;
}
.modal{
	width: 101%;
	height: 100%;
	position: fixed;
	transform: translate(-50%, -50%);
	z-index: -1;
	left: 50%;
	background-color: rgba(0,0,0,.8);
	top: 50%;
	opacity: 0;
}
.active{
	z-index: 2;
}
.close-modal{
	position: absolute;
	color: #ffff;
	font-size: 200%;
	font-family: "Arial", sans-serif;
	cursor: pointer;
	top: 4em;
	right: 7em;
}
iframe{
	transform: translate(-50%, -50%);
	position: relative;
	left: 50%;
	top: 50%;
}
.second{
	top: 9rem;
}
.int-footer{
	left: 48%;
	margin-bottom: 10rem
}
.box-release{
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-top: 12rem;
	font-weight: 600;
}
.box-release-info-extra{
	margin-top: 16rem;
}
.box-img{
	width: 100%;
}
.box-release-info{
	z-index: 1;
	width: 90%;
	position: absolute;
	top: 15%;
	left: 5%;
	font-size: 140%;
	text-align: center;
}
.box-release-info-isbm{
	margin-top: 35rem;
	width: 30%;
	font-weight: 500;
	text-align: left;
}
.fire-left-extra{
	transform: rotate(180deg);
}
.buy{
	margin-top: 10rem;
	padding-bottom: 10rem;
}
.buy a{
	width: 100%;
}
.buy a img{
	width: 90%;
}
footer{
	padding: 2rem 0;
	background: url(../images/footer.png);
}
.info-footer{
	color: #ffff;
}
.info-footer:nth-child(2){
	margin-top: 2rem;
}
.close-menu{
	color: #e3031e;
	font-size: 350%;
	position: absolute;
	right: 25px;
	cursor: pointer;
	padding: 0 1rem;
}
.active .menu-header{
	right: 0;
	transition: .5s ease-out;
}
.menu-open{
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;
	display: none;
}
.close-menu{
	display: none;
}
.line-top,
.line-middle,
.line-bottom{
	position: absolute;
	width: 75%;
	height: 4px;
	top: 10px;
	margin-left: 6px;
	background-color: #e3031e;
}
.line-middle{
	top: 20px;
}
.line-bottom{
	top: 30px;
}

/*resposive*/
@media(max-width: 1537px){
	.box-release-info{
		font-size: 130%;
	}
	.box-release-info-extra{
		font-size: 130%;
		margin-top: 14rem;
	}
	.box-release-info-isbm{
		font-size: 110%;
		margin-top: 30rem;
		width: 40%;
	}
}
@media(max-width: 1312px){
	.box-release-info{
		font-size: 100%;
	}
	.box-release-info-extra{
		font-size: 100%;
		margin-top: 10rem;
	}
	.box-release-info-isbm{
		font-size: 100%;
		margin-top: 23rem;
		width: 40%;
	}
}
@media(max-width: 1043px){
	.box-release-info{
		font-size: 80%;
	}
	.box-release-info-extra{
		font-size: 80%;
		margin-top: 10rem;
	}
	.box-release-info-isbm{
		font-size: 80%;
		margin-top: 20rem;
		width: 40%;
	}
	.text-01{
		top: -1rem;
	}
	.image-book{
		margin: 3rem 0;
	}
}
@media(max-width: 900px){
	.box-release-info{
		font-size: 70%;
	}
	.box-release-info-extra{
		font-size: 70%;
		margin-top: 8rem;
	}
	.box-release-info-isbm{
		font-size: 70%;
		margin-top: 15rem;
		width: 40%;
	}
}
@media(max-width: 800px){
	.media-social{
		display: none;
	}
	.menu-header{
		position: fixed;
		height: 100%;
		background-color: black;
		top: 0;
		right: -100%;
		width: 100%;
		z-index: 2;
	}
	.menu-header .flex-box{
		display: block;
	}
	.menu-item{
		margin: 1rem 0;
		text-align: center;
		list-style: none;
	}
	.menu-item a{
		padding: 1rem 0;
	}
	.menu-open{
		display: block;
	}
	.close-menu{
		display: block;
	}
	.menu-top{
		background-size: cover;
	}
	.image-fire{
		display: none;
	}
	.image {
		width: 75%;
	}
	.int{
	    width: 10%;
	    left: -32%;
	}
	.player-video{
		width: 75%;
		left: 13%;
	}
	.video-info{
		position: relative;
		width: 75%;
		right: -14%;
	}
	.box-release{
		width: 100%;
	}
	.int-footer{
		left: 43%;
	}
	.buy{
		display: block;
		margin-top: 2rem;
	}
	iframe{
		width: 90%;
		height: auto;
	}
	.close-modal{
		right: 1rem;
		top: 3rem;
	}
	.buy a img{
		width: 50%;
		margin-left: 7rem;
	}
}
@media(max-width: 375px){
	.buy a img{
		width: 50%;
		margin-left: 5rem;
	}	
}
/*responsive*/